.margin-brand{
    padding-top: 10%;
    
}

.wrapper-2{
	font-family: Trebuchet MS;
	display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 70px;
}
.wrapper-2 .btn-secondary {
	font-family: Trebuchet MS;
}
#General{
    font-family: Trebuchet MS;
}


#lologin{
    height: 300px;
}

#logoHorizontal{
    margin-left: -10px;
    height: 2.5em;
}

/*----Transition Router Animation----*/
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}

.nav{
    list-style: none !important;
}
.icono {
    font-size: 25px;
    color: rgb(188, 0, 22);
    margin-right: 0.3em;
    margin-top: 0.35em;
  }
  .cssRegistro h2, h4{
    text-align: center;
    color: rgb(188, 0, 22);
  }
  .h5L{
      color:  rgb(188, 0, 22);
  }

  .cssRegistro hr {
    border-top: 1px solid rgb(188, 0, 22);
  }
  .boton {
    justify-content: center;
    display: flex;
  }


  .vws-table-rule-heading > div{
    font-size: 13px !important;
}


  .vws-time-list{
      font-size: 13px !important;
  }

  .opacity-0{
      color: white !important;
  }
