.margin-brand{
    margin-top: 100px;
    /* background-color: red; */
}

.wrapper-2{
	font-family: Trebuchet MS;
	display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 70px;
}
.wrapper-2 .btn-secondary {
	font-family: Trebuchet MS;
}

#lologin{
	height: 300px;
}